<p>
  There is nothing either good or bad but <%= noun %> makes it so.
</p>
<% [1,2,3].each do |n| %>
  <li>N: <%= n %></li>
<% end %>
<p>
  Ruby version <%= RUBY_VERSION %>
</p>
<p>Path: <%= env["PATH_INFO"] %></p>
